@page
@model Mission09_dlbaldwi.Pages.CartModel
@{
}

<h1>Your Cart</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Cart.Books)
        {
            <tr>
                <td>@b.Book.Title</td>
                <td>@b.Quantity</td>
                <td>@b.Book.Price.ToString("c")</td>
                <td>@((b.Quantity * b.Book.Price).ToString("c"))</td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@b.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        } 
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Cart.CalcTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" asp-controller="Checkout" asp-action="Checkout">Checkout</a>
</div>